span.label {
    font-size: 16px;
        display: inline-block;
}

.group {
    border: 1px solid transparent;
    border-radius: 4px;
    display: inline-block;
    margin-top: 10px;
}

.group-link-multi {
    border: 1px solid black;
    cursor: pointer;
}

.group-link-single > span , .group-link-multi > span {
  text-decoration: underline;
}
   
#result {
   margin-top: 50px;
}